/ = semantic_form_for @notification do |f|
/   = f.inputs do
/     = f.input :body
/     = f.input :natural_time, :as => :string
/     = f.input :recurring, :as => :select, :collection => ["Every Day", "Every Week", "Every Month"]
/   = f.actions  
.row-fluid#notification-form
  = form_for @notification, :remote => true, :format => :json, :html => {:id => "notification_form" } do |f|
    -if @notification.errors.any?
      #error_explanation

        %ul
        -@notification.errors.full_messages.each do |msg|
          %li= msg
          
    .row-fluid#body
      = f.text_area :body, :placeholder => "Type your notification here."
    .row-fluid#notification-details
      .span4.time
        = f.text_field :natural_time, :as => :string, :placeholder => "Time e.g. Tomorrow at 2pm, Friday at 7:30am, 10/13/2012 7:39pm, In 1 hour ", :class => 'row-fluid'
      .span3.recur
        = f.select :recurring, :collection => ["Not Recurring","Every Day", "Every Week", "Every Month"]
      .span3.type
        = f.label :send_sms  do
          = f.check_box :send_sms, :checked => true
          SMS
            
        = f.label :send_email do
          = f.check_box :send_email
          Email
          
        = f.label :send_twitter do
          = f.check_box :send_twitter
          Twitter
      .span2#submit-button
        = f.submit :class => "btn btn-primary pull-right"