= semantic_form_for @notification do |f|
  = f.inputs do
    = f.input :body
    = f.input :natural_time, :as => :string
    = f.input :recurring, :as => :select, :collection => ["Every Day", "Every Week", "Every Month"]
  = f.actions