%br

=render 'form'
%table.table#my-notifications
  %tr
    %th= Notification
    %th Date / Time
    %th Options
  - @notifications.each do |notification|
    -if notification.sent_time.nil? || notification.sent_time > DateTime.now
      %tr
        %td= link_to notification.body, notification_schedules_path(notification)
        %td= notification.time.localtime.strftime("%A %b %-d %Y at %I:%M:%S %p")
        %td
          = link_to "Edit", edit_notification_path(notification)
          = link_to "Delete", notification_path(notification), confirm: "Are you sure", method: :delete

.pagination
  =paginate @notifications