%br
%table
  - @notifications.each do |notification|
    %tr
      %th
        = Notification
      %th
        = 'Date / Time'
      %th
      %th
    %tr
      %td
        = notification.body
      %td
        = notification.time.localtime.strftime("%A %b %-d %Y at %I:%M:%S %p")
      %td
        = link_to "Edit", edit_notification_path(notification)
        = link_to "Delete", notification_path(notification), confirm: "Are you sure", method: :delete
%br
= link_to "Add New Notification", new_notification_path

  