%br

=render 'form'
%table.table#my-notifications
  %tr
    %th= Notification
    %th Date / Time
    %th Options
    %th Last Sent
  - @notifications.each do |notification|
    %tr
      %td= link_to notification.body, notification_schedules_path(notification)
      %td= notification.time.localtime.strftime("%A %b %-d %Y at %I:%M:%S %p")
      %td
        = link_to "Edit", edit_notification_path(notification)
        = link_to "Delete", notification_path(notification), confirm: "Are you sure", method: :delete
      %td
        -if notification.schedules.order("sent_time DESC").first.present? && notification.schedules.order("sent_time DESC").first.sent_time.present? 
          =notification.schedules.order("sent_time DESC").first.sent_time 
  
.pagination
  =paginate @notifications